.SideDrawer{
    position: fixed;
    height: 100%;
    width: 280px;
    max-width: 70%;
    box-sizing: border-box;
    background-color:white;
    left: 0;
    top: 0;
    padding: 32px 16px;
    z-index: 200;
    transition: transform 0.3sec ease-out;
}
@media(min-width:500px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

.Logo{
    height: 11%;
    margin-bottom:32x ;
}